.vs/
./ProductManagement.API/serviceAccountKey.json
/ProductManagement.API/serviceAccountKey.json
/ProductManagement.API/bin/Debug/net8.0/serviceAccountKey.json
ProductManagement.API/bin/Debug/net8.0/serviceAccountKey.json